<div ng-controller="FullNameController as vm" >
  <h1>FullName Demo</h1>   
  <div class="row">
    <form>
        <div class="form-group">
          <label for="fn" class="col-sm-2 control-label">First</label>          
          <input ng-model="vm.person.firstName" type="text" class="form-control" id="fn" placeholder="First name" width="60%">
        </div>

        <div class="form-group">
          <label for="ln" class="col-sm-2 control-label">Last</label>  
          <input ng-model="vm.person.lastName" type="text" class="form-control" id="ln" placeholder="Last name" width="60%">
        </div>

        <div class="form-group">
          <label class="col-sm-2" >{{vm.person.fullName}}</label>
        </div>
    </form>  
  </div>
</div>